.App {
  text-align: center;
  color:rgb(26, 247, 255);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  background-color: rgb(255, 255, 255);
  border-radius: 15px;

}

.todo {
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-image: url(fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 85%;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu{
   background-color: rgba(0, 0, 0, 0.842);
   color: rgb(21, 226, 216);
   border-radius: 45px;
  width: 100%;
  padding: 20px 0;
  margin: auto;

}

ul{
  list-style-type: none;
  font-weight: bolder;
  display: flex;

}

li{
  width: 33%;

}

.logotipo1{
  width: 300px;
}

a{
  text-decoration:  none;
  color:rgb(26, 247, 255);

}
a:hover{
  font-size: 28px;
  color: white;
}

h1{
  background-image: url(logo11.png);
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
}
.producto{
  border: 2px solid black;
  height: 200px;
  width: 200px;
}